<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Subscription" value="Azure订阅Id" />
    <add key="TenantId" value="AAD TenantId" />
    <add key="CosmosRuSettingClientId" value="注册应用Secret" />
    <add key="CosmosRuSettingClientSecret" value="注册应用Secret" />

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>